<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Coop and multi game referential.">
  <meta name="author" content="ProgOwer">

  <title>PartySearch</title>

  <link rel='shortcut icon' type="image/x-icon" href="favicon.ico">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">

  <!-- CSS Stylesheet -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> <!--Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> <!--Material Icons -->
  <link href="custom.css" rel="stylesheet"> <!--Custom CSS -->
</head>

<body>
  <div id="app">
    <header>
      <nav>
        <div class="nav-wrapper purple lighten-2">
          <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <a href="/" class="brand-logo center">PartySearch ({{ nb_items }} Games)</a>
        </div>
      </nav>

      <!-- Search, Sort and Filter -->
      <ul id="slide-out" class="sidenav sidenav-fixed">
        <li>
          <div class="row">
            <div class="input-field col s12">
              <input class="search" id="search" type="text">
              <label for="search">Search</label>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <p class="range-field">
              <input v-model="nb_page" @change="updateNbPage()" class="col s6" type="range" min="5" max="100" step="5" />
              <span class="new badge col s6" data-badge-caption="games per page">{{ nb_page }}</span>
            </p>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="input-field col s12">
              <select v-model="sort" @change="updateSort()">
                <option value="name" selected>Name ASC</option>
                <option value="-name">Name DESC</option>
                <option value="size">Size ASC</option>
                <option value="-size">Size DESC</option>
              </select>
              <label>Order By</label>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col s6">
              <p>
                <label>
                  <input v-model="filter.coop" @change="updateFilter()" type="checkbox" />
                  <span>Coop</span>
                </label>
              </p>
            </div>
            <div class="col s6">
              <p>
                <label>
                  <input v-model="filter.multiplayer" @change="updateFilter()" type="checkbox" />
                  <span>Multi</span>
                </label>
              </p>
            </div>
          </div>
        </li>
      </ul>
    </header>

    <main>
      <!-- Display data -->
      <table class="highlight centered responsive-table">
        <thead>
          <tr>
              <th>Icon</th>
              <th>Name</th>
              <th>Genres</th>
              <th>Coop</th>
              <th>Multiplayer</th>
              <th>Size</th>
              <th>Summary</th>
              <th>Link</th>
          </tr>
        </thead>
        <tbody class="list">
          <tr v-for="(data, key) in dataList" :key="key">
            <td><img v-bind:src="data.icon"></td>
            <td class="name">{{ data.name }}</td>
            <td class="genres">{{ data.genres.join(", ") }}</td>
            <td v-if="data.coop.min != 0 && data.coop.max != 0">
              <span class="new badge green coop_min" data-badge-caption="Min">{{ data.coop.min }}</span>
              <span v-if="data.coop.max != -1" class="new badge blue coop_max" data-badge-caption="Max">{{ data.coop.max }}</span>
              <span v-if="data.coop.max === -1" class="new badge blue coop_max" data-badge-caption="Max">Unlimited</span>
            </td>
            <td v-else>
              <span class="new badge red coop_min coop_max" data-badge-caption="">Not Available</span>
            </td>
            <td v-if="data.multiplayer.min != 0 && data.multiplayer.max != 0">
              <span class="new badge green multiplayer_min" data-badge-caption="Min">{{ data.multiplayer.min }}</span>
              <span v-if="data.multiplayer.max != -1" class="new badge blue multiplayer_max" data-badge-caption="Max">{{ data.multiplayer.max }}</span>
              <span v-if="data.multiplayer.max === -1" class="new badge blue multiplayer_max" data-badge-caption="Max">Unlimited</span>
            </td>
            <td v-else>
              <span class="new badge red multiplayer_min multiplayer_max" data-badge-caption="">Not Available</span>
            </td>
            <td v-if="data.size === 0">
              <span class="new badge orange size" data-badge-caption="">Unknown</span>
            </td>
            <td v-else>
              <span class="new badge purple size" data-badge-caption="GB">{{ data.size }}</span>
            </td>
            <td><a class="waves-effect waves-light btn modal-trigger" v-bind:href="'#' + data.id + '-details'">Summary</a></td>
            <td><a class="btn-floating waves-effect waves-light purple" v-bind:href="data.url" target="_blank"><i class="material-icons">logout</i></a></td>
          </tr>
        </tbody>
      </table>

      <div v-bind:id="data.id + '-details'" class="modal bottom-sheet" v-for="(data, key) in dataList" :key="key">
        <div class="modal-content">
          <h4>{{ data.name }}</h4>
          <p class="flow-text">{{ data.summary }}</p>
        </div>
      </div>
    </main>
  
    <footer class="center">
      <ul class="pagination"></ul>
    </footer>
  </div>

  <!-- JS Library -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script> <!--VueJS 3 -->
  <script src="https://unpkg.com/axios"></script> <!--Axios -->
  <script src="https://unpkg.com/js-yaml"></script> <!--JS YAML -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script> <!--ListJS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> <!--Materialize -->
  <!-- Vanilla JS -->
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      M.AutoInit();
    });
  </script>
  <!-- VueJS -->
  <script>
    Vue.createApp({
      data: () => ({
        dataList: [],
        dataListTools: null,
        nb_items: 0,
        nb_page: 5,
        sort: "name",
        filter: {
          coop: true,
          multiplayer: true,
        },
      }),
      methods: {
        async getData() {
          try {
            let response = await axios.get(window.location + 'database/_database.yml');
            let games = []
            if (response !== null) {
              games = jsyaml.load(response.data);
              for (let i = 0; i < games.length; i++) {
                const element = games[i];
                let response = await axios.get(window.location + `database/${element}.yml`);
                if (response !== null)
                  this.dataList.push(jsyaml.load(response.data));
              }
            }
          } catch (error) { console.log(error); }
        },
        async initList() {
          this.dataListTools = await new List('app', {
            valueNames: [ 'name', 'genres', 'coop_min', 'coop_max', 'multiplayer_min', 'multiplayer_max', 'size' ],
            page: this.nb_page,
            pagination: true,
          });
          await this.dataListTools.sort('name', { order: "asc" });
          this.nb_items = this.dataListTools.size();
        },
        async updateNbPage() {
          await this.dataListTools.show(1, this.nb_page);
        },
        async updateSort() {
          if (this.sort === 'name') await this.dataListTools.sort('name', {order: "asc"});
          if (this.sort === '-name') await this.dataListTools.sort('name', {order: "desc"});
          if (this.sort === 'size') await this.dataListTools.sort('size', {order: "asc"});
          if (this.sort === '-size') await this.dataListTools.sort('size', {order: "desc"});
        },
        async updateFilter() {
          let filter = this.filter;
          let nb_items = 0;
          await this.dataListTools.filter(function(item) {
            let display = true;
            if (item.values().coop_min !== "Not Available" && !filter.coop) display = false;
            if (item.values().multiplayer_min !== "Not Available" && !filter.multiplayer) display = false;
            if (display) nb_items++;
            return display;
          });
          this.nb_items = nb_items;
        },
      },
      mounted() {
        this.getData().then(() => {
          M.Modal.init(document.querySelectorAll('.modal'), {});
          this.initList();
        });
      },
    }).mount('#app')
  </script>
</body>
</html>
